{%extends "layout.html"%}
{%block conteudo%}
    <!-- Banner -->
    <section class="banner">
        <div class="banner__content">
            <h1 class="banner__title">
                Code & <span class="banner__title--highlight">Flavor</span>
            </h1>
            <p class="banner__subtitle">
                O melhor hambúrguer da cidade compilado para você.
            </p>
        </div>
    </section>

    <section class="categories">
        <div class="categories__container">
            <h2 class="categories__title">ESCOLHA RÁPIDA</h2>
            <div class="categories__list">
                {%for produtos in destaques%}
                <div class="category-item">

                    <img src="{{produtos.url_imagem}}"
                        alt="Lanche 1" class="category-item__img" />
                    <a href="#lanche-1" class="button button--small">EU QUERO</a>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>

    <section class="products" id="menu">
        <h2 class="products__title">NOSSOS DESTAQUES</h2>
        <div class="products__container">
            <div class="products__grid">
                    {%for destaques in produtos%}
                    <article class="card" id="lanche-1">
                        <img src="{{destaques.url_imagem}}"
                            alt="Classic Dev" class="card__image" />
                            <div class="card__body">
                                <h3 class="card__title">{{destaques.produto}}</h3>
                                <p class="card__description">
                                    {{destaques.descricao}}
                                </p>
                                <div class="card__footer">
                                    <span class="card__price">{{destaques.preco}}</span>
                                    <a href="/produto/{{destaques.codigo}}">
                                    <button class="button button--small">Comprar</button>
                                    </a>
                                </div>
                            </div>
                    </article>
                    {%endfor%}
                        

            </div>

        </div>


        <div>
            <a href="#menu" class="button button--primary">VOLTAR PARA DESTAQUES</a>
        </div>
    </section>
{%endblock%}
